@font-face {
  font-family: "aahub_light";
  src: url("https://fonts-aahub.netlify.com/assets/fonts/aahub_light/aahub_light.woff2") format("woff2"),
    url("https://fonts-aahub.netlify.com/assets/fonts/aahub_light/aahub_light.woff") format("woff"),
    url("https://fonts-aahub.netlify.com/assets/fonts/aahub_light/aahub_light.ttf") format("ttf");
  font-display: swap;
}

.aahub_light {
  font-family: "aahub_light";
  white-space: pre;
  font-size: 16px;
  line-height: 16px;
}
